{% extends 'base_generic.html' %}
{% load static %}

{% block content %}
<div class="container mt-5">
    <h1><b>Detailed report</b></h1>
</div>
<div class="container mt-5">
    <div class='row'>
    <div class='col-2'>
        <p>Year:</p>
        <p>Created:</p>
        <p>File account:</p>
    </div>
    <div class='col-10'>
        <p> {{ report.year_report }}</p>
        <p>{{ report.created_at }}</p>
        {% if report.file_path %}
            <p><a href="{{ report.file_path }}" download>Download Report</a></p>
        {% else %}
            <p>No file available for this report.</p>
        {% endif %}
    </div>

    </div>

     <form method="POST" action="{% url 'msfo1_report_detail' report.pk %}"
           onsubmit="return confirm('Are you sure?');">
        {% csrf_token %}
        <button type="submit" class="btn btn-danger">Delete account</button>
    </form>

</div>
{% endblock %}