{% extends 'msfo8/layout_msfo8.html' %}

{% block title %}
    File Detail
{% endblock %}

{% block body %}
    <h1>Отчет</h1>
    <p>Год отчета: {{ file.name }}</p>
    {% if file.result_file %}
    <p>Файл отчета: <a href="{% url 'download_file' file.id %}">{{ file.result_file.name }}</a></p>
    {% else %}
    <p>Result File: No result file</p>
    {% endif %}
    <p>Создан в: {{ file.created_at }}</p>

     <form method="POST" action="{% url 'file_detail' file.id %}"
           onsubmit="return confirm('Вы уверены, что хотите удалить этот отчет?');">
        {% csrf_token %}
        <button type="submit" class="btn btn-danger">Удалить отчет</button>
    </form>

{% endblock %}