{% extends 'base_generic.html' %}
{% load static %}

{% block content %}
<div class="container-fluid mt-5">
<div class="row">
    <div class="col-4">
    <img src="{%static 'img/img2.jpg'%}" alt="Parrot" style="height:65vh;" class="rounded-4">
    </div>

    <div class="col-8">
        <div class="d-flex flex-row-reverse">
            <h1>Create report MSFO</h1>
        </div>
        <div class="container text-center" style="margin-top: 50px">
            <div class="row">
                <div class="col-4">
                </div>
                <div class="col-4">
                    <button type="button" class="btn custom-button rounded-5" onclick="document.location='{% url 'home_msfo8' %}'">Correct 10.01 10.02</button>
                    <p></p><p></p>
                    <button type="button" class="btn custom-button rounded-5" onclick="document.location='{% url 'start_page' %}'">Correct next</button>
                </div>
                <div class="col-4">
                    <button type="button" class="btn custom-button rounded-5" onclick="document.location='{% url 'msfo1_home' %}'">Correct debet 62</button>
                    <p></p><p></p>
                    <button type="button" class="btn custom-button rounded-5" onclick="document.location='{% url 'start_page' %}'">Correct next</button>
                </div>
            </div>
        </div>

    </div>
</div>
</div>
{% endblock %}  