{% extends 'base_generic.html' %}
{% load static %}

{% block content %}
<div class="container mt-5 text-center">
    <h1>Reports</h1>
    <div class="shadow-box mt-5">
        <div class="list-group">
            {% for file in files %}
                <button type="button"  class="list-group-item list-group-item-action" onclick="location.href='{% url 'file_detail' file.pk %}';">{{ file.year }}  (Created at: {{ file.created_at }})</button>
            {% endfor %}
        </div>
    </div>
</div>
{% endblock %}  
