.several-columns {
  -webkit-column-count: 4; /* для Safari и Chrome */
  -moz-column-count: 4; /* для Firefox */
  column-count: 4;
}


.custom-button {
  background-color: lightgray;
  color: black;
  font-size: 24px;
  padding: 10px 20px;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.6);
  width: 300px;
  height: 100px;
}

.custom-button-report {
  background-color: lightgray;
  color: black;
  font-size: 24px;
  padding: 10px 20px;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.6);
  width: 250px;
  height: 70px;
}

.shadow-box {
  background-color: lightgray;
  border-radius: 30px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
  padding: 20px;
}

.custom-file {
  height: 75px;
}


input::-webkit-file-upload-button {
  background-color: lightgray;
  color: black;
  font-size: 24px;
  padding: 10px 20px;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.6);
  width: 250px;
  height: 70px;
  border-radius: 30px;
  border: none;
  cursor: pointer;
}

input[type=file] {
 font-size: 25px;
 text-decoration: underline;
 width: 600px;
}
