<!DOCTYPE html>
<html lang="en">
<head>

    <meta charset="UTF-8">
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/main.css' %}">
    <title>
            {% block title %}
            {% endblock %}
    </title>



</head>
<body>

    <messages>
        {% if messages %}
            <ul class="messages">
            {% for message in messages %}
              <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
            {% endfor %}
            </ul>
        {% endif %}
    </messages>
    
    <urls>
    {% block urls %}
    {% endblock %}
    </urls>
    
    <main>
        {% block body %}
        {% endblock %}
    </main>

</body>
</html>